.container {
    display: block;
    width: 631px;
    height: 588px;
    margin-top: 44px;
}

.reviewer {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
}

.comment {
    margin-bottom: 44px;
}